

.kepsite{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    padding:0;
}

.teglalap1{
position:absolute;
margin-left:20%;
height:100%;
width:20%;
background-color: white;
display:inline-block;
}

.teglalap2{
    position:absolute;
    margin-left:40%;
    height:100%;
    width:40%;
    background-color:teal;
    display:inline-block;
}