.kepsite{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    padding:0;
}

.teglalap1{
    position:absolute;
    margin-left:20%;
    height:100%;
    width:20%;
    background-color: #FFF;
    display:inline-block;
}

.teglalap2{
    position:absolute;
    margin-left:40%;
    height:100%;
    width:40%;
    background-color:#789869;
    display:inline-block;
}

.mrpickles{
    color:#2E4B08;
    font-size: 36px;
    display: inline-block;
    position:absolute;
    margin-top: 30%;
    margin-left:38%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bio{
    color: #2E4B08;
    font-size: 150px;
    display:inline-block;
    position:absolute;
    margin-top: 40%;
    margin-left: 30%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search{
    color:#789869;
    font-size: 32px;
    display:inline-block;
    position:absolute;
    margin-top:130%;
    margin-left:67%;
}

.shopping-cart{
    color:#789869;
    font-size: 32px;
    display:inline-block;
    position:absolute;
    margin-top:145%;
    margin-left:34%;
}

.contact{
    color:#789869;
    font-size: 32px;
    display:inline-block;
    position:absolute;
    padding-top:160%;
    margin-left:62%;
}

.about{
    color:#789869;
    font-size: 32px;
    display:inline-block;
    position:absolute;
    margin-top:175%;
    margin-left:69%;
}

.veggies{
    color: white;
    font-size: 150px;
    display:inline-block;
    position:absolute;
    margin-top: 8%;
    margin-left: 41%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:lighter;
}

.cucumber{
    color:#fff;
    font-size: 32px;
    display:inline-block;
    position:absolute;
    margin-top: 26%;
    margin-left:41%;
}

.beans{
    color:#fff;
    font-size: 32px;
    display:inline-block;
    position:absolute;
    margin-top:29%;
    margin-left:41%;
}

.tomato{
    color:#ffffff;
    font-size: 32px;
    display:inline-block;
    position:absolute;
    margin-top:32%;
    margin-left:41%;
}

.cabbage{
    color:#ffffff;
    font-size: 32px;
    display:inline-block;
    position:absolute;
    margin-top:35%;
    margin-left:41%;
}

.raddish{
    color:#ffffff;
    font-size: 32px;
    display:inline-block;
    position:absolute;
    margin-top:38%;
    margin-left:41%;
}

.peas{
    color:#ffffff;
    font-size: 36px;
    display:inline-block;
    position:absolute;
    margin-top:41%;
    margin-left:41%;
}

.corn{
    color:#ffffff;
    font-size: 32px;
    display:inline-block;
    position:absolute;
    margin-top:44%;
    margin-left:41%;
}

.copyright{
    color:#ffffff;
    font-size: 12px;
    display:inline-block;
    position:absolute;
    margin-top:50%;
    margin-left:41%;
}


@font-face{
    src:url(fonts/RhodiumLibre-Regular.ttf);
    font-family:rhodium;
}

@font-face{
    src:url(fonts/Ubuntu-Regular.ttf);
    font-family:ubuntu;
}