

.kepsite{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
    padding:0;
}

.teglalap{
    position: fixed;
    height:100vh;
    width:100%;
}
.szin1{
    height:789px;
    width:350px;
    background: white;
    position:fixed;
    right:0px;
}

.szin2{
    height:789px;
    width:200px;
    background: #789869;
    position:fixed;
    left:0px;
}